@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Secular+One&display=swap');
:root {
  --white: #fff;
  --blue-400: #094BCA;
  --blue-500: #1361F5;
  --gray-300: #535558;;
  --dark-400: #223140;
  --dark-500: #1D1D1D;
  --yellow-500: #ECB22D;
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Secular One', sans-serif;
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 62.5%;
  scroll-behavior: smooth; 
}
body{
  font-family: var(--ff-primary);
}
ul[role="list"],
ol[role="list"], li {
  list-style: none;
}
img, picture, svg {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
.order_1{
  order: 1;
}
.order_2{
  order: 2;
}
.container {
  --max-width: 1170px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}
.primary_header{
  padding-top: 3.3rem;
  padding-bottom: 3.2rem;
}
.nav_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-primary);
}
.logo_text{
  font-family: var(--ff-secondary);
  color: var(--dark-500);
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.293px;
}
.main_nav{
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.main_nav a{
  color: var(--dark-500);
  font-family: var(--ff-primary);
}
.main_nav a:hover, .main_nav a:focus {
  color: var(--gray-300);
}
.nav-button{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.btn{
  border: 0;
  font-family: var(--ff-primary);
  padding: 1rem 2.7rem;
  text-align: center;
  background: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  border-radius: .5rem;
}
.login_btn{
  color: var(--blue-400);
}
.header_action{
  display: flex;
  gap: 1rem;
}
.primary_btn{
  background: var(--blue-500);
  color: var(--white);
}
.request-btn{
  border-radius: 5px;
  border: 1px solid #E0E0E0;
}
.left .hero_header {
  padding-bottom: 3.5rem;
  color: var(--dark-500);
  font-family: var(--ff-primary);
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5rem;
  letter-spacing: -1px;
}
.hero_header span{
  display: block;
}
.hero_dec{
  padding-bottom: 4.5rem;
  color: var(--dark-400);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: -1px;
}
.even_columns {
  display: grid;
  gap: 5.9rem;
}
.introduction{
  margin-top: 5.4375rem;
}
.introduction_items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
}
.introduction_item{
  border-radius: 5px;
  background: var(--white);
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}
.introduction_header{
  color: var(--dark-400);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
}
.introduction_dec{
  color: var(--gray-300);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.icons{
  margin-top: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 36px;
  background: rgba(236, 178, 45, 0.10);
}
.fas{
  font-size: 2rem;
}
.streamline_workflow{
  text-align: center;
  margin: 5.625rem auto;
}
.streamline_workflow_title{
  color: var(--dark-500);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: -1px;
  padding-bottom: 2.1875rem;
}
.streamline_workflow_dec{
  max-width: 75.1875rem;
  text-align: center;
  margin: 0 auto;
  color: var(--dark-400);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -1px;
}
.functionality, .software{
  display: grid;
  align-items: center;
  gap: 6.8125rem;
  margin-bottom: 3.75rem;
}
.functionalities, .software_item{
  margin-bottom: 3.75rem;
}
.function-list{
  color: var(--blue-400);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: -1px;
  padding-bottom: 0.9375;
}
.function-title, .software-title{
  color: var(--dark-500);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: -1px;
  padding-bottom: 2.1875rem;
}
.function-dec, .software-dec{
  color: var(--dark-400);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -1px;
  padding-bottom: 2.1875rem;
}
.software_integration{
  margin-top: 3.415rem;
}
.carousel{
  margin-bottom: 5.625rem;
}
.carousel_heading{
  text-align: center;
  margin: 0 auto;
}
.carousel_title{
  color: var(--dark-500);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.125rem;
  letter-spacing: -1px;
  padding-bottom: 2.1875rem;
  }
.carousel_dec{
    color: var(--dark-400);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: -1px;
  }
.slider {
    display: flex;
    gap: 1rem;
    list-style: none;
}
.slider > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}
.slider img {
  width: 7.25rem;
  height: 7.25rem;
  position: relative;
  top: calc(4rem / 2);
  margin-inline: auto;
}
.slider-content {
  border-radius: 0.25rem;
  padding: 3rem 1rem 2rem;
  background: var(--white);
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
.slider-content p{
  text-align: center;
  padding-top: 1rem;
  color: var(--gray-300);
  font-size: .875rem;
  margin-inline: auto;
  line-height: 1.375rem;
  font-weight: 400;
}
p[data-width="wide"] {
    max-width: 48ch;
  }
p[data-width="wide"] {
    display: block;
    height: 18ch;
  }
form{
  display: flex;
  align-items: center;
  gap: .5rem;
}
input:where([type="text"], [type="email"], ) {
  border-radius: 100vw;
  border: .2rem solid var(--dark-400);
  padding: 0.70rem 1rem;
}
.button[data-shadow="none"] {
  box-shadow: none;
}
.name, .company{
    text-align: center;
  }
.company{
    font-family: var(--ff-secondary);
    color: #D9D9D9;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.293px;
    padding-bottom: 2.1875rem;
  }
.name{
  font-size: 1.125rem;
  color: var(--dark-400);
  font-weight: 600;
  line-height: 1.5rem;
}
:where(.flow :not(:first-child)) {
    margin-top: 1rem, 3em;
}
.free_items{
    display: flex;
    gap: 2.125rem;
}
.card{
  flex: 1 1 auto;
}
.card_body{
  border-radius: 0.25rem;
  padding: 2rem 2rem 2rem;
  background: var(--white);
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.15);
}
.card_label{
  color: var(--blue-400);
}
.card_label .e_book{
  margin-right: 0.1875rem;
}
.card_label span{
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2px;
  background: rgba(19, 97, 245, 0.10);
  padding: 0.150rem .5rem;  
}
.card_heading{
  margin-top: 0.625rem;
  color: var(--dark-400);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 500;
}
.read_more{
  margin-top: 1.25rem;
  color: var(--blue-400);
  font-size: 1.6rem;
  line-height: 1.5625rem;
  font-weight: 500;
}
footer{
  margin: 3.75rem 0 0;
}
.logo_dec{
  max-width: 12.375rem;
  padding: 1.8375rem 0;
  color: var(--gray-300);
  line-height: 1.625rem;
  font-weight: 400;
  font-size: 1rem;
}
.copyright{
  font-size: 1.1rem;
  opacity: .7;
  text-align: center;
  margin-bottom: .5rem;
}
.button{
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1;
  color: var(--white);
  background-color: var(--dark-500);
}
@media (min-width: 50em){
.even_columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.functionality, .software{
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.slider {
  scroll-padding-inline: 25px;
}
.slider > * {
  width: 27%;
}
.card {
  width: 30%;
}
.footer_wrapper{
  padding: 3.75rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
}
.social_list{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.social_list li a{
  color: var(--blue-400);
  font-size: 1.2rem;
  font-weight: 400;
}
.footer_menu_hading{
  color: var(--dark-500);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.75rem;
}
.nav_item {
  margin: 2rem 0;
}
.nav_item li a{
color: var(--gray-300);
font-size: 1.6rem;
font-weight: 500;
}
}